data\melody
data/melody
segmenter\output
input\
ssemantic_model/semantic_model.data-00000-of-00001s
data/melody/all_predictions.txt
data/melody/all_predictions.txt
data/melody/predictions0.txt
data/melody/predictions1.txt
data/melody/predictions2.txt
data/melody/predictions3.txt
input/097a5aaec3abfd8800c9561f6d7a9e10.jpg
input/deckhalls.png
input/Fri_19_02_2021_124322.jpg
input/Fri_19_02_2021_124345.jpg
input/Fri_19_02_2021_124353.jpg
input/Fri_19_02_2021_154006.jpg
input/Fri_19_02_2021_162857.jpg
input/Fri_19_02_2021_164239.jpg
input/Fri_19_02_2021_171523.jpg
input/Fri_19_02_2021_180203.jpg
*.jpg
*.png
