
data/Error/melody/melody/slice0.png
data/Error/melody/melody/slice1.png
data/Error/melody/melody/slice2.png
data/Error/melody/melody/slice3.png
data/Error/slice0.png
data/Error/slice1.png
data/melody/full_song.wav
data/melody/predictions2.txt
data/melody/predictions3.txt
data/melody/slice0.png
data/melody/slice1.png
data/melody/slice2.png
data/melody/slice3.png
data/melody/staff0.wav
data/melody/staff1.wav
data/melody/staff2.wav
data/melody/staff3.wav
input/1615352664020.png
input/20210323_162044.png
input/Captured.PNG
input/carolofthebells.png
input/deckhalls.png
input/hallofking.png
input/hallofking5.png
input/hallofking_c.jpg
input/happybday2.jpg
input/happybday_c.jpg
input/holynight.png
input/image.jpg
input/images (1).png
input/jinglebells.png
input/Mon_15_03_2021_111817.png
input/Mon_15_03_2021_112219.png
input/Mon_15_03_2021_113902.png
input/Mon_15_03_2021_114544.png
input/New Project (1).jpg
input/New Project.jpg
input/odetojoy.png
input/runaway.png
input/Sat_13_03_2021_080521.png
input/sCapture-1.PNG
input/sCapture.PNG
input/silent/097a5aaec3abfd8800c9561f6d7a9e10.jpg
input/silent/deckhalls.png
input/silent/Fri_19_02_2021_124322.jpg
input/silent/Fri_19_02_2021_124345.jpg
input/silent/Fri_19_02_2021_124353.jpg
input/silent/Fri_19_02_2021_154006.jpg
input/silent/Fri_19_02_2021_162857.jpg
input/silent/Fri_19_02_2021_164239.jpg
input/silent/Fri_19_02_2021_171523.jpg
input/silent/Fri_19_02_2021_180203.jpg
input/silent/happybday.PNG
input/silent/holynight.png
input/silent/holynight_c.png
input/silent/jinglebells.png
input/silent/joy_c.jpg
input/silent/odetojoy.png
input/silent/pgws.png
input/silent/silentnight.png
input/silent/Tue_23_02_2021_222426.png
input/silent/Wed_17_02_2021_205803.jpg
input/silent/Wed_17_02_2021_210239.jpg
input/silent/wishyoumerry.png
input/silent/zanarkand.jpg
input/Thu_11_03_2021_205902.png
input/Tue_09_03_2021_191608.png
input/Tue_09_03_2021_192154.png
input/Tue_09_03_2021_192507.png
input/Tue_09_03_2021_192949.png
input/Tue_09_03_2021_194819.png
input/Tue_09_03_2021_195856.png
input/Tue_09_03_2021_200220.png
input/Tue_09_03_2021_200525.png
input/Tue_09_03_2021_200915.png
input/Tue_23_03_2021_154156.png
input/Tue_23_03_2021_154527.png
input/Wed_10_03_2021_114154.png
input/Wed_10_03_2021_123305.png
input/Wed_10_03_2021_123624.png
input/Wed_10_03_2021_124751.png
input/Wed_10_03_2021_125602.png
input/Wed_10_03_2021_130355.png
input/wishyoumerry.png
input/zanarkand.jpg
segmenter/output/slice2.png
segmenter/output/slice3.png
sent_image.jpg
test.png
test0.jpg
test2.jpg
*.png
*.jpg
.gitattributes
