Wand==0.6.5
silence_tensorflow==1.1.1
Flask==1.1.2
imutils==0.5.4
flask_ngrok==0.0.25
tensorflow==2.4.0
matplotlib==3.3.2
scikit-image==0.18.1
simpleaudio==1.0.4
numpy==1.19.2
opencv_python==4.4.0.46
scipy==1.5.2
audio_to_midi==2020.7
dictionary==1.0
fit==0.4.1
Pillow==8.1.0
train==0.0.5
